.App {
  text-align: center;
}

.tooltip {	
  position: absolute;
  z-index: 10;
  opacity: 1!important;			
  text-align: center;			
  width: auto;		
  max-width: 50vw;			
  height: auto;					
  padding: 10px;				
  font: 12px sans-serif;		
  background: rgb(172, 173, 173);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;	
  font-size: .7em!important;		
}

.d3-component{
  height: 100%!important;
  width: 100%!important;
  margin: 0px!important;
  margin-top: 0px;
  padding: 0px;
  background-color: white;
  transform-origin: 0, 0;
  overflow-y: visible!important;
}

.shadow{
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);
}

.rounded, .shadow, .shadow >* {
  border-radius: 1em!important;
}

button {
  border: none;
  color: black;
  /* padding: 5px 5px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 8px;
  cursor:pointer;
  height: 100%;
  min-height: 1em;
  max-height: 2em;
}

.activeButton{
  background-color: white; /* Green */
  border: 2px solid #4CAF50;
}

.inactiveButton{
  background-color:#4CAF50;
}


.vertical-menu {
  width: 250px; /* Set a width if you like */
  margin-top: 20px;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 15px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}